<!DOCTYPE html>
<html>
  <head>
    <title>ClockifyJira</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name='robots' content='noindex nofollow'>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
